# Mandatory settings
# Settings of `admin_password` and `domain` are required when deploying services
# not just for server preparation and lokal installation (on the remote server).
debug: false
admin_username: admin
admin_email: "{{admin_username}}@{{domain}}"

# Common base settings
project_name: Lokal
project_root: "/opt/lokal"
backup_root: "/opt/lokal-backup"
country: US
lang: en_US
locale: en_US.utf-8  # cs_CZ.utf8
ssh_port: 22
verbose: false
services: []

# Backup to S3
s3_backup: false
s3_bucket_name: 'lokal-backup'
s3_bucket_region: 'eu-central-1'
s3_access_key: ''
s3_secret_key: ''

# HTTPS certificate handling
ssl_use_acme: false # obtain HTTPS certificates from ACME server
staging_acme: false # use only staging ACME server
# ssl_key:
# ssl_cert:

# cert resolver can be "dns", "http", or "tls"
cert_resolver: http

# If you are using "cert_resolver: dns" then you need to give API access to
# your DNS (domain) provider so the cert resolver can create domains and certificates
dns_provider: namecheap
namecheap_api_user:
namecheap_api_key:

# Common services settings
mysql_root_password: "{{('mysql' + lokal_secret) | hash('sha1') | regex_search('\\w{12}') }}"
mysql_host: mysql
mysql_port: 3306
postgres_root_password: "{{('postgres' + lokal_secret) | hash('sha1') | regex_search('\\w{12}') }}"
postgres_host: postgres
postgres_port: 5432

# Common runtime variables
# UID: ''{{ ansible_facts["user_uid"] }}''
# GID: '{{ ansible_facts["user_gid"] }}'
# TZ: '{{ ansible_facts["date_time"]["tz"] }}'

prometheus_version: "v3.7.3"
traefik_version: "latest" # v2.9.6
mariadb_version: "10.6.16-focal"
postgres_version: "16-3.4"
minio_version: "RELEASE.2025-02-03T21-03-04Z"
