# Mandatory settings
# Settings of `admin_password` and `primary_domain` are required when deploying services
# not just for server preparation and lokal installation (on the remote server).
debug: false
admin_username: admin
admin_email: "{{admin_username}}@{{primary_domain}}"

# Common base settings
project_name: Lokal
lokal_root: "/opt/lokal"
backup_root: "/opt/lokal-backup"
country: US
lang: en_US
locale: en_US.utf-8  # cs_CZ.utf8
ssh_port: 22
verbose: false
services: []

# Backup to S3
s3_backup: false
s3_bucket_name: 'lokal-backup'
s3_bucket_region: 'eu-central-1'
s3_access_key: ''
s3_secret_key: ''

# HTTPS certificate handling
ssl_use_acme: false # obtain HTTPS certificates from ACME server
staging_acme: false # use only staging ACME server
# ssl_key: absolute path or relative path to your CWD
# ssl_cert: absolute path or relative path to your CWD

# cert resolver can be "dns", "http", or "tls"
cert_resolver: http

# Common services settings
mysql_root_password: "{{('mysql' + lokal_secret) | hash('sha1') | regex_search('\\w{12}') }}"
mysql_host: mysql
mysql_binary: mariadb
mysql_port: 3306
postgres_root_password: "{{('postgres' + lokal_secret) | hash('sha1') | regex_search('\\w{12}') }}"
postgres_host: postgres
postgres_port: 5432

# Common runtime variables
# project_root: "{{lokal_root}}/{{primary_domain}}"
# lokal_logroot: "{{project_root}}/logs"
# UID: ''{{ ansible_facts["user_uid"] }}''
# GID: '{{ ansible_facts["user_gid"] }}'
# TZ: '{{ ansible_facts["date_time"]["tz"] }}'

prometheus_version: "v3.7.3"
traefik_version: "v2.11.36"
mariadb_version: "12"
postgres_version: "18-postgis-3"
minio_version: "RELEASE.2025-09-07T16-13-09Z"

dc: "docker compose -p {{project_name}}"