---
- name: Install mail
  ansible.builtin.include_role:
    name: lokal.core.lokal
    tasks_from: install
  vars:
    app: mail
    app_version: 0.8
    app_port: 80  # this is port of webmail
    # app_domain has mail. prefix only not to colide with the root domain to which
    # it most likely points. Hostname and certificates are using bare mail_domain
    app_domain: "mail.{{primary_domain}}"
    app_templates:
      maddy.conf:  data/maddy.conf
    app_db: "mysql"
    app_dirs:
    - data

# First, let's create SMTP credentials and the actual mailboxes (IMAP) for the admin user.
- name: Wait for maddy to boot up before trying to create email accounts
  ansible.builtin.pause:
    seconds: 2
  when: '"lokal.core.users" not in services'

- name: Create SMTP admin user (if LDAP is not used)
  ansible.builtin.lineinfile:
    create: true
    line: "{{admin_username}}@{{primary_domain}}:bcrypt:{{ admin_password | ansible.builtin.password_hash('bcrypt', ident='2b') }}"
    search_string: "{{admin_username}}@{{primary_domain}}:"
    path: "{{app_root}}/data/users.passwd"
  when: '"lokal.core.users" not in services'

- name: Create IMAP admin user (if LDAP is not used)
  ansible.builtin.shell:
    cmd: >
      {{dc}} exec mail
      maddy imap-acct create {{admin_username}}@{{primary_domain}}
    chdir: "{{app_root}}"
  when: '"users" not in services'
  register: imap_create
  failed_when: imap_create.rc != 0 and "user already exists" not in imap_create.stderr

- name: Check that mail_users and "lokal.core.users" role are not defined altogether
  ansible.builtin.fail:
    msg: "You cannnot have 'lokal.core.users' role installed and mail_users defined"
  when: '"lokal.core.users" in services and mail_users is defined and mail_users is truthy'

- name: Create SMTP custom users (if LDAP is not used)
  ansible.builtin.lineinfile:
    create: true
    line: "{{item.key}}@{{primary_domain}}:bcrypt:{{item.value | ansible.builtin.password_hash('bcrypt', ident='2b') }}"
    search_string: "{{item.key}}:"
    path: "{{app_root}}/data/users.passwd"
  when: 'mail_users is defined'
  loop: "{{ mail_users|dict2items }}"

- name: Create IMAP custom users (if LDAP is not used)
  ansible.builtin.shell:
    cmd: >
      {{dc}} exec mail
      maddy imap-acct create {{item.key}}@{{primary_domain}}
    chdir: "{{app_root}}"
  when: 'mail_users is defined'
  loop: "{{ mail_users|dict2items }}"
  register: imap_create
  failed_when: imap_create.rc != 0 and "user already exists" not in imap_create.stderr

- name: Get DKIM DNS configuration for {{primary_domain}}
  ansible.builtin.fetch:
    src: "{{app_root}}/data/dkim_keys/{{primary_domain}}_lokal.dns"
    dest: "{{primary_domain}}_lokal.dns"
    fail_on_missing: true
    flat: true