networks:
  traefik:
    external: true
  lokal:
    external: true
  mysql:
    external: true

services:
  mail:
    image: foxcpp/maddy:{{app_version}}
    user: "{{uid}}:{{gid}}"
    container_name: mail
    depends_on:
      - webmail
    networks:
    - lokal
    - traefik
    # ports:
      # - "587:587" # IMAP explicit TLS (STARTTLS) # not exposed because we allow multiple mail server per physical server
      # - "143:143" # SMTP explicit TLS (STARTTLS) # not exposed because we allow multiple mail server per physical server
      # - "993:993" # IMAPs implicit TLS routed by Traefik
      # - "465:465" # SMTP implicit TLS routed by Traefik
      # - "25:25" # SMTP unencrypted available only internally
    volumes:
    - type: bind
      source: "{{app_root}}/mail/"
      target: "/data"
    - type: bind
      source: "{{project_root}}/.certs/{{app_domain}}"
      target: "/etc/ssl/{{app_domain}}"
      read_only: true
    restart: always
    stop_grace_period: 1m
    environment:
      MADDY_HOSTNAME: "{{app_domain}}"
      MADDY_DOMAIN: "{{app_domain}}"
    # Actually we won't use traefik for routing emails - maddy will bind to the ports directly
    # and use certificates generated by other services for TLS.
    labels:
      - traefik.enable=true
      # IMAPs is using HostSNI for routing and passthrough for TLS. We could terminate TLS here and use port 143...
      # This HostSNI || is a trick how to force traefik to generate certificate for all domains mentioned in mail_domains
      - traefik.tcp.routers.imaps-{{domain|replace(".", "-")}}.rule=HostSNI(`{{app_domain}}`)
      - traefik.tcp.routers.imaps-{{domain|replace(".", "-")}}.entrypoints=imaps
      - traefik.tcp.routers.imaps-{{domain|replace(".", "-")}}.tls.passthrough=true
      - traefik.tcp.services.imaps-{{domain|replace(".", "-")}}.loadbalancer.server.port=993
      - traefik.tcp.services.imaps-{{domain|replace(".", "-")}}.loadbalancer.proxyProtocol.version=2
      # Implicit TLS is the only way how to route SMTP using SNI rule, this requires TLS passthrough
      - traefik.tcp.routers.smtp-{{domain|replace(".", "-")}}-tls.rule=HostSNI(`{{app_domain}}`)
      - traefik.tcp.routers.smtp-{{domain|replace(".", "-")}}-tls.entrypoints=smtp-tls
      - traefik.tcp.routers.smtp-{{domain|replace(".", "-")}}-tls.tls.passthrough=true
      - traefik.tcp.services.smtp-{{domain|replace(".", "-")}}-tls.loadbalancer.server.port=465
      - traefik.tcp.services.smtp-{{domain|replace(".", "-")}}-tls.loadbalancer.proxyProtocol.version=2
      # Explicit TLS (STARTTLS) is no different but it does not support SNI routing
      # seems that Traefic supports this since 2021
      - traefik.tcp.routers.smtp-{{domain|replace(".", "-")}}-starttls.rule=HostSNI(`{{app_domain}}`)
      - traefik.tcp.routers.smtp-{{domain|replace(".", "-")}}-starttls.entrypoints=smtp-starttls
      - traefik.tcp.services.smtp-{{domain|replace(".", "-")}}-starttls.loadbalancer.server.port=587
      - traefik.tcp.services.smtp-{{domain|replace(".", "-")}}-starttls.loadbalancer.proxyProtocol.version=2

  webmail:
    image: roundcube/roundcubemail
    container_name: webmail
    environment:
      ROUNDCUBEMAIL_DEFAULT_HOST: "mail"
      ROUNDCUBEMAIL_DEFAULT_PORT: 143
      ROUNDCUBEMAIL_SMTP_SERVER: "mail"
      ROUNDCUBEMAIL_SMTP_PORT: 25
      ROUNDCUBEMAIL_USERNAME_DOMAIN: "{{domain}}"
      ROUNDCUBEMAIL_DB_TYPE: "mysql"
      ROUNDCUBEMAIL_DB_HOST: "{{mysql_host}}"
      ROUNDCUBEMAIL_DB_PORT: "{{mysql_port}}"
      ROUNDCUBEMAIL_DB_USER: "{{app_db_user}}"
      ROUNDCUBEMAIL_DB_PASSWORD: "{{app_db_pass}}"
      ROUNDCUBEMAIL_DB_NAME: "{{app_db_name}}"
    networks:
    - mysql
    - traefik
{% include "labels.yml" %}